<form method="post">
    <input type="hidden" value="{{ event.event_id }}" name="event_id">
    <input type="submit" name="action1" value="Action 1">
    <input type="submit" name="action2" value="Action 2">
    <input type="submit" name="action3" value="Action 3">
    <input type="submit" name="action4" value="Action 4">
</form>
