{% extends 'layout.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <diV class="logFormContainer">
        <form method="post" action="/login/connect" class="signUpForm">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ values.username }}"/>
            <p class="errorMessage">{{ errors.username }}</p>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password"/>
            <p class="errorMessage">{{ errors.password }}</p>
            <button type="submit" class="fightButton">Login !</button>
            <p class="errorMessage">{{ errors.login }}</p>
        </form>
    </diV>
    <div class="signUpLink">
        <a href="/login/signUp">Don't have an account ? Sign Up !</a>
    </div>
{% endblock %}
