{% extends 'layout.html.twig' %}

{% block title %}Elevator{% endblock %}

{% block content %}
    <div class="elevatorFrame">
        <h1>{{ player.max_floor}} ^</h1>
        <div class="elevatorPage">
            <form action="" method="post">
                <div class="imageUploader">
                    <div class="frameBackgroundElevator1">
                        <img class="avatarElevator" id="output" src="/assets/images/characters/{{ player.image }}" alt="player avatar">
                    </div>
                    <div class="namePlateElevator">
                        <h2>{{ player.name }}</h2>
                    </div>
                </div>
                {% include 'Elevator/stats.html.twig' %}
                <div class="buttonCenter">
                    <button type="submit" class="fightButton">Next ! <img class="buttonLogo" src="/assets/images/icones/fight.png" alt="fighting spirited person"> </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}<script src="/assets/js/elevatorScript.js"></script>{% endblock %}
