<h2 class="elevatorstatTittle"> <span id="remainingPoints"></span> points remaining</h2>
<div class="elevatorcharacterStatsArea">
    <div class="elevatorstatContainer">
        <div class="elevatorstatInfos statColumn">
            <h3>Strength</h3>
            <img class="elevatorstatIcon" src="/assets/images/icones/strength.png" alt="icon of a strong arm">
            <input class="elevatorstatInput" type="number" name="strength" id="strength" value="" readonly>
        </div>
        <div class="elevatorstatButtonContainer statColumn">
            <div class="elevatorstatButton buttonPlus" id="strengthPlus"> + </div>
            <div class="elevatorstatButton buttonMinus" id="strengthMinus"> - </div>
        </div>
    </div>
    <div class="elevatorstatContainer">
        <div class="elevatorstatInfos statColumn">
            <h3>Energy</h3>
            <img class="elevatorstatIcon" src="/assets/images/icones/energy.png" alt="icon of a lightning bolt">
            <input class="elevatorstatInput" type="number" name="energy" id="energy" value="" readonly>
        </div>
        <div class="elevatorstatButtonContainer statColumn">
            <div class="elevatorstatButton buttonPlus" id="energyPlus"> + </div>
            <div class="elevatorstatButton buttonMinus" id="energyMinus"> - </div>
        </div>
    </div>
    <div class="elevatorstatContainer">
        <div class="elevatorstatInfos statColumn">
            <h3>Humor</h3>
            <img class="elevatorstatIcon" src="/assets/images/icones/humor.png" alt="icon of a pair of theatre masks">
            <input class="elevatorstatInput" type="number" name="humor" id="humor" value="" readonly>
        </div>
        <div class="elevatorstatButtonContainer statColumn">
            <div class="elevatorstatButton buttonPlus" id="humorPlus"> + </div>
            <div class="elevatorstatButton buttonMinus" id="humorMinus"> - </div>
        </div>
    </div>
    <div class="elevatorstatContainer">
        <div class="elevatorstatInfos statColumn">
            <h3>Agility</h3>
            <img class="elevatorstatIcon" src="/assets/images/icones/agility.png" alt="icon of two running mens">
            <input class="elevatorstatInput" type="number" name="agility" id="agility" value="" readonly>
        </div>
        <div class="elevatorstatButtonContainer statColumn">
            <div class="elevatorstatButton buttonPlus" id="agilityPlus"> + </div>
            <div class="elevatorstatButton buttonMinus" id="agilityMinus"> - </div>
        </div>
    </div>
</div>
