{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/about_style.css">
{% endblock %}

{% block title %}
    About us
{% endblock %}

{% block content %}
<main class="bg">
    <h1>The Team</h1>

    <div class="main-container">

    </div>


</main>
{% endblock %}

{% block javascript %}{% endblock %}