{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/about_style.css">
{% endblock %}

{% block title %}
    About us
{% endblock %}

{% block content %}
<main class="bg">
    <h1>The Team</h1>

    <section class="main-container">
        <div class="card">
            <img src="../../../public/assets/images/team/yoann.png" class="avatar" alt="Yoann" >
            <div class="container">
                <h4><b>Yoann</b></h4>
                <p>PHP Team</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../public/assets/images/team/raquel.png" class="avatar" alt="Raquel">
            <div class="container">
                <h4><b>Raquel</b></h4>
                <p>PHP Team</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../public/assets/images/team/alex.png" class="avatar" alt="Alex">
            <div class="container">
                <h4><b>Alex</b></h4>
                <p>PHP Team</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../public/assets/images/team/charly.png" class="avatar" alt="Charly">
            <div class="container">
                <h4><b>Charly</b></h4>
                <p>PHP Team</p>
            </div>
        </div>


    </section>


</main>
{% endblock %}

{% block javascript %}{% endblock %}