{% extends 'layout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <div class="flexbox-container" id="fbc1">
        <div id="main-btn" class="btn-group-vertical">
            <a href="/Game/menu" type="button" class="btn btn-secondary">Play</a>
            <a href="#" type="button" class="btn btn-secondary">Options</a>
            <a href="#" type="button" class="btn btn-secondary">Pantheon</a>
        </div>
    </div>
    <div class="flexbox-container" id="fbc2">
        <div id="main-btn" class="btn-group-vertical">
            <a href="#" type="button" class="btn btn-secondary">How to play</a>
            <a href="#" type="button" class="btn btn-secondary">Credits</a>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}