{% extends 'layout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
<div class="homeContainer">
    <div class="homeGroupContainer">
        <a href="/Game/menu" type="button" class="fightButton menuButton">Play</a>
        <a href="/Game/pantheon" type="button" class="fightButton menuButton">Pantheon</a>
    </div>
    <div class="homeGroupContainer">
        <a href="/Home/rules" type="button" class="fightButton menuButton">How to play</a>
        <a href="/Home/about" type="button" class="fightButton menuButton">About us</a>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}