{% extends 'layout.html.twig' %}

{% block title %}Defeat!{% endblock %}

{% block content %}
    <div class="container-fluid principal">
    <div class="container">
        <h1 class="title">Defeat!</h1>
        <img src="/assets/images/event/defeat.jpg" class="victoryImage" alt="victory image">
        <h2 class="title2">{{action.defeat}}</h2>
        <h2 class="title2">You are Fired!</h2>
        <div class="row justify-content-center">
            <a href="/Game/menu" class="fightButton menuButton">Try Again</a>
        </div>
    </div>
{% endblock %}