{% extends 'layout.html.twig' %}

{% block title %}Menu{% endblock %}

{% block content %}
    <div class="menuPage">
        <div class="flexbox-container" id="fbc3">
            <div id="main-btn" class="menuContainer">
                <a href="createCharacter" type="button" class="fightButton menuButton">New game</a>
                {% if is_ended == false %}
                <a href="#" type="button" class="fightButton menuButton">Resume game</a>
                {% endif %}
                <a href="#" type="button" class="fightButton menuButton">Score</a>
            </div>
        </div>
    </div>
{% endblock %}
