<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheet %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Office Warriors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#">Play</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Options</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pantheon</a></li>
            <li class="nav-item"><a class="nav-link" href="#">How to play</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Credits</a></li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}

{% block javascript %}{% endblock %}
</body>
</html>


