.bg {
    background-image: url("../images/background/about_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -25px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3.5em;
    padding-top: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    align-items: center;
    width: 60%;
    opacity: 75%;
}

.col {
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    height: 200px;
    width: 150px;
}

