{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container py-5">
        <h1>Character Creation</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" name="title">
            <div>
                <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
                <input type="file" name="image">
                {% include 'Character/stats.html.twig' %}
            </div>
            <button type="button" class="btn btn-outline-primary">Ready</button>
        </form>
    </div>
{% endblock %}
{% block javascript %}<script src="/assets/js/characterScript.js"></script>{% endblock %}
