{% extends 'layout.html.twig' %}

{% block content %}
    <div class="characterPage">
        <h1>Character Creation</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="namePlate">
                <input class="nameInput" type="text" name="title" required placeholder="Your name here...">
            </div>
            <div>
                <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
                <input type="file" name="image">
                {% include 'Character/stats.html.twig' %}
            </div>
            <div class="buttonCenter">
                <button type="button" class="fightButton">Ready ! <img class="buttonLogo" src="/assets/images/icones/fight.png" alt="fighting spirited person"> </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}<script src="/assets/js/characterScript.js"></script>{% endblock %}
