{% extends 'layout.html.twig' %}

{% block title %}New Character{% endblock %}

{% block content %}
    <div class="characterPage">
        <h1>New Character</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="namePlate">
                <input class="nameInput" type="text" name="title" required placeholder="Your name here...">
            </div>
            <div class="imageUploader">
                <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
                <label for="image">Choose an avatar for your character :</label>
                <input class="imageInput" type="file" name="image" onchange="loadFile()" accept=".jpg, .jpeg, .png">
                <img class="avatarUpload" id="output" src="/assets/images/characters/grumpy.png">
                {% include 'Character/stats.html.twig' %}
            </div>
            <div class="buttonCenter">
                <button type="button" class="fightButton">Ready ! <img class="buttonLogo" src="/assets/images/icones/fight.png" alt="fighting spirited person"> </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}<script src="/assets/js/characterScript.js"></script>{% endblock %}
