<h2 class="statTittle"> <span id="remainingPoints"></span> points remaining</h2>
<div class="characterStatsArea">
    <div class="statContainer">
        <div class="statInfos statColumn">
            <h3>Strength</h3>
            <img class="statIcon" src="/assets/images/icones/strength.png">
            <input class="statInput" type="number" name="strength" id="strength" value="" readonly>
        </div>
        <div class="statButtonContainer statColumn">
            <div class="statButton buttonPlus" id="strengthPlus"> + </div>
            <div class="statButton buttonMinus" id="strengthMinus"> - </div>
        </div>
    </div>
    <div class="statContainer">
        <div class="statInfos statColumn">
            <h3>Energy</h3>
            <img class="statIcon" src="/assets/images/icones/energy.png">
            <input class="statInput" type="number" name="energy" id="energy" value="" readonly>
        </div>
        <div class="statButtonContainer statColumn">
            <div class="statButton buttonPlus" id="energyPlus"> + </div>
            <div class="statButton buttonMinus" id="energyMinus"> - </div>
        </div>
    </div>
    <div class="statContainer">
        <div class="statInfos statColumn">
            <h3>Humor</h3>
            <img class="statIcon" src="/assets/images/icones/humor.png">
            <input class="statInput" type="number" name="humor" id="humor" value="" readonly>
        </div>
        <div class="statButtonContainer statColumn">
            <div class="statButton buttonPlus" id="humorPlus"> + </div>
            <div class="statButton buttonMinus" id="humorMinus"> - </div>
        </div>
    </div>
    <div class="statContainer">
        <div class="statInfos statColumn">
            <h3>Agility</h3>
            <img class="statIcon" src="/assets/images/icones/agility.png">
            <input class="statInput" type="number" name="agility" id="agility" value="" readonly>
        </div>
        <div class="statButtonContainer statColumn">
            <div class="statButton buttonPlus" id="agilityPlus"> + </div>
            <div class="statButton buttonMinus" id="agilityMinus"> - </div>
        </div>
    </div>
</div>
