<h3> X points remaining</h3>
<div container>
    <div>
        <div>
            <h4>Strength</h4>
            <img src="">
            <input type="text" name="strength" id="strength" value="" readonly>
        </div>
        <div>
            <div class="statButton" id="strength+"> + </div>
            <div class="statButton" id="strength-"> - </div>
        </div>
    </div>
</div>
