<h3> <span id="remainingPoints"></span> points remaining</h3>
<div container>
    <div>
        <div>
            <h4>Strength</h4>
            <img src="">
            <input type="text" name="strength" id="strength" value="" readonly>
        </div>
        <div>
            <div class="statButton" id="strengthPlus"> + </div>
            <div class="statButton" id="strengthMinus"> - </div>
        </div>
    </div>
</div>
